[Unit]
Description=Autohome service
After=multi-user.target

[Service]
Type=idle
User=root
ExecStart={{ app_environment }}/bin/python3 {{ app_folder }}/autohome.py

[Install]
WantedBy=multi-user.target