[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory={{ app_folder }}
ExecStart={{ app_environment }}/bin/gunicorn --access-logfile - --workers 3 --bind unix:{{ app_gunicorn_socket }} home.wsgi:application

[Install]
WantedBy=multi-user.target