provider = "{{ oauth2_provider }}"
client_id = "{{ oauth2_client_id }}"
client_secret = "{{ oauth2_client_secret }}"
cookie_secret = "{{ oauth2_cookie_secret }}"
cookie_refresh = "{{ oauth2_cookie_refresh | default('1h') }}"
email_domains = []  # Empty to disable domain-wide access
redirect_url = "https://{{ server_hostname }}/oauth2/callback"
upstreams = ["http://127.0.0.1:80/"]
http_address = "127.0.0.1:4180"
reverse_proxy = true
custom_templates_dir = "/etc/oauth2-proxy/custom-templates"
authenticated_emails_file = "/etc/oauth2-proxy/authenticated-emails.txt"