{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'sprinklers/favicon.ico' %}"/>
<link rel="stylesheet"  href="{% static 'sprinklers/css/style.css' %}" type="text/css"/>
<link rel="stylesheet"  href="{% static 'sprinklers/css/slider.css' %}" type="text/css"/>
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#93a1a1;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:4px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#93a1a1;color:#002b36;background-color:#fdf6e3;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:4px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#93a1a1;color:#fdf6e3;background-color:#657b83;}
.tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:middle}
.tg .tg-0lax{text-align:left;vertical-align:middle}
}
}
</style>
<script type="text/javascript">
    $.ajax({
        type: "GET",
        url: "/get_sprinkler_active/{{ sprinkler.sprinkler_gpio }}",
        dataType: 'json',
        success: function (data) {
            if(data.sprinkler_active_state == 'LOW') {
                $('#running').html('True');
            }
            else{
                $('#running').html('False');
            }
        }
    });
</script>

<table class="tg">
  <tr>
    <th class="tg-1wig" style="width: 100px;">Sprinkler</th>
    <th class="tg-1wig" style="width: 100px;">Sprinkler ID</th>
    <th class="tg-1wig">Enable/Disable</th>
    <th class="tg-1wig">Locked priority</th>
    <th class="tg-1wig">Running/Stopped</th>
  </tr>
  <tr>
    <td>{{ sprinkler.sprinkler_name }}</td>
    <td>{{ sprinkler.sprinkler_gpio }}</td>
    <td>{{ sprinkler.sprinkler_enabled }}</td>
    <td>{{ sprinkler.sprinkler_lock }}</td>
    <td>
      <div name="running" id="running"></div>
    </td>

  </tr>
</table>